.content{
    width: 98%;
    height: 98%;
    background: dodgerblue;
}
.project-card{
    width: 30%;
    background: yellow;
    height: 30%;
    justify-content: center;
    align-items: center;
    display: flex;
    color: transparent;
    transition: 1.5s;
    
}
.project-name{
    font-family: 'Poppins';
}
.project-card:hover{
    color: white;
}