.container{
background-color: #14104b;
height: 90vh;
display: flex;
flex-direction: row;
align-items: center;
justify-content:space-evenly;
color: white;
font-family: 'Poppins';
}
.about-container{
    width: 40%;
    height: 80%;
    animation: 5s ease-out 0s 1 slideInFromLeft;
}
.stack-container{
    width: 55%;
    height: 80%;
    animation: 5s ease-in-out 0s 1 slideInFromRight;
}
.header-title{
    width: 60%;
    height: 10%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    margin-left: 8%;
    margin-bottom: 0%;
}
.lang{
    margin-top: 0%;
}
.language-icons-div{
    width: 90%;
    height: 50%;
    display: grid;
  grid-template-columns: repeat(5, 1fr); /* Creates 4 columns */
  grid-template-rows: repeat(6, 1fr); /* Creates 5 rows, adjust as needed */
  gap: 20px; /* Space between icons */
  justify-items: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  margin-top: 7%;
}

@keyframes slideInFromLeft {
    0% {

      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}
  
@keyframes slideInFromRight {
    0% {

      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}