.container{
    background-color: #14104b;
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    color: white;
    font-family: 'Poppins';
}
.contact-info-div{
    height: 80%;
    width: 48%;
    background: dodgerblue;
}
.msg-input{
    height: 80%;
    background-color: dodgerblue;
    width: 48%;
    padding: 0%;
    justify-content: center;
    align-items: center;
}
.svg{
    position: relative;
    z-index: 1;
    height: 100%;
    width: 90%;
}
.msg-form{
    position: absolute;
    background-color: aqua;
    width: 40vh;
    height: 50vh;
    top: 10%;
    left: 30%;
}