.container{
    background-color: #141;
    height: 91.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    background-color: dodgerblue;
    width: 98px;
    height: 80px;
    display: flex;
    flex-direction: row;
}