.container{
    background-color: #14104b;
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    color: white;
    font-family: 'Poppins';
}
.skill-container{
 height: 90%;
 width: 50%;
 display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two cards in a row */
  gap: 0px; /* Space between cards */
  justify-items: center; /* Center cards horizontally */
  align-items: start; /* Align cards to the start vertically */
   /* Padding around the grid */
  max-width: 1200px; /* Max width of the grid */
  margin: 0 auto; /* Center the grid horizontally */
  animation: 1s ease-out 0s 1 slideInFromLeft;
}
.skill-text{
 height: 65%;
 width: 40%;
 margin-right: 2%;
 animation: 1s ease-out 0s 1 slideInFromRight;
}
.skill-header{
  width: 90%;
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.dash{
  background: #E63946;
  width: 8%;
  height: 5%;
}
.skheader-txt{
  font-size: 1rem;
 margin-top: 1rem;
  color: aliceblue;
  opacity: 0.7;
}
.skill-text h1{
  margin-top: 0%;
}



@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}