/* components/Navbar.module.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #14104b; /* Adjusted to match the screenshot */
    color: white;
  }
  
  .brand {
    font-weight: bold;
    color: #F7DF1E; /* Adjusted for brand color */
  }
  
  .navLinks {
    display: flex;
  }
  
  .navItem {
    margin-left: 1rem;
    text-decoration: none;
    color: #A4A4A4; /* Adjusted for nav link color */
  }
  
  .navItem:hover {
    color: white;
  }
  
  .contactButton {
    background-color:transparent; /* Adjusted for button color */
    color: #E63946;
    border: 1px solid #E63946;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 0.1rem;
    width: 8%;
  }
  
  .contactButton:hover {
    transform: scaleX(1.13);
    transition: 0.2s;
  }
  