/* components/Navbar.module.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
   height: 10vh;
    background-color: #14104b; /* Adjusted to match the screenshot */
    color: white;
    font-family: 'Poppins';
  }
  
  .brand {
    font-weight: bold;
    color: #F7DF1E; /* Adjusted for brand color */
    text-decoration: none;
    margin-left: 4%;
    font-family: 'Poppins';
  }
  
  .navLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 90%;
  }
  
  .navItem {
    margin-left: 1rem;
    text-decoration: none;
    color: #A4A4A4; /* Adjusted for nav link color */
  }
  
  .navItem:hover {
    color: white;
    border-bottom: #E63946 3px solid;
    transition: border-bottom 0.2s ease-in-out;
  }
  
  .contactButton {
    background-color:transparent; /* Adjusted for button color */
    color: #E63946;
    border: #E63946 2px solid;
    cursor: pointer;
    border-radius: 0.1rem;
    width: 15%;
    height: 60%;
    margin-right: 1rem;
    font-family: 'Poppins';
  }
  
  .contactButton:hover {
    transform: scaleX(1.13);
    transition: 0.2s;
  }
  