.neon-card {
    border-radius: 15px;
    color: white;
    position: relative;
    overflow: hidden;
    height: 60%;
    width: 90%;
    gap: 0;
  }
  
  .neon-card-icon {
    font-size: 40px; /* Adjust size as needed */
  }
  
  .neon-card-title {
    font-size: 1.25rem; /* Adjust size as needed */
    text-align: center;
  }
  
  .neon-card-description {
    font-size: 1rem; /* Adjust size as needed */
  }
.header-txt{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}